

#boardAnimation{
    position: relative;
    width: 45vw;
    height: 45vw;
    margin-left: 30%;
    background: rgb(15, 20, 20);
    
}

#animation{
    width: 3vw;
    height: 3vw;
    position: absolute;
    background-color: brown;
    border-radius: 50%;
}

button{
    position: absolute;
    margin-left: 19%;
    
    margin-top: 10%;
    width: 10vw;
    height: 5vw;
    
}